/*Utilities*/

:root {
    --header-footer-color: rgba(44, 62, 80, 1);
    --primary-page-color: rgba(26, 188, 156, 1);
    --secondary-page-color: rgba(58, 84, 109, 1);
}

.fa-star {
    font-size: 1.5rem;
}

.star_line_dark,
.star_line_light {
    border-radius: 10px;
    width: 100px;
}

.star_line_light {
    border: 2px solid white;
}

.star_line_dark {
    border: 2px solid var(--secondary-page-color);
}

.hidden {
    display: none;
}


/* .debug {
    border: 2px dashed;

    .header_content_left,
    .header_content_right {
        width: 100px;
        height: 100px;
    }

} */

/*HEADER*/

#site_header,
#site_footer {
    background-color: var(--header-footer-color);

    nav {
        max-width: 1200px;
        margin: auto
    }
}

/*MAIN*/

#info {
    background-color: var(--secondary-page-color);
}

.portfolio_top,
.contact_top {
    color: var(--secondary-page-color);
}

#profile,
#about {
    background-color: var(--primary-page-color);
}

.card_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(136, 134, 134, 0.8);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;

}

#contact ul li input {
    border: 0;
    border-bottom: 1px solid lightgray;
}

#contact ul li:nth-child(4) input {
    border: 0;

}

.list-unstyled {
    margin-top: 1rem;
}

.list-unstyled li:nth-child(4) {
    padding-bottom: 20%;
    border-bottom: 1px solid lightgray;
}

.list-unstyled li a {
    background-color: var(--primary-page-color);
}

.info_mid_container>div {
    width: 80px;
    height: 80px;
    font-size: 1.5rem;
}

.info_bottom a {
    color: var(--primary-page-color);
}

/*ANIMATIONS*/
a {
    transition: 500ms;
}

a:hover {
    background-color: rgba(211, 211, 211, 0.308);
}

.card:hover>.card_overlay {
    display: block;
    display: flex;
}


/*MEDIA*/

@media screen and (min-width:768px)
/*TABLET*/
    {
    .row {
        flex-direction: row;
    }

    .p_container {
        display: flex;
        flex-direction: row;
    }


    #info {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .info_container {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        .info_top>p,
        .info_bottom>p {
            width: 80%;
            margin: auto;
        }

        .info_mid>div>div {
            width: 50px;
            height: 50px;
        }
    }

    #navbarSupportedContent {
        flex-grow: 0;
    }
}